<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kōasuky</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/stylesheet.css">
        <link rel="stylesheet" href="../css/responsive.css">
    </head>
    <body>
        <%- include("header"); %>   
        <div class = "signup-logo">
            <a href="/"><img src="../../image/logo.png" width = "600"></a>
        </div>
        <div class = "step-check">
            <ul>
                <li></li>
            </ul>
        </div>
        <div class = "about-content">
            <h1>ABOUT</h1>
            <p class = "text-content1">〜kōasuky〜</p><br>
            <p class = "text-content2">“kōasuky” の由来は、僕の故郷「YOKOSUKA」のアナグラム(文字入れ替え)です。僕にとって「故郷(横須賀)」は特別です。
            語学留学のため、New Zealandに行った際に、何度も故郷を思い出しました。その度に、「落ち着く」「心地いい」「安心する」と感じ、リラックスできました。
            これは「故郷」が僕の心の拠り所だからです。お客様にも“kōasuky” というブランドを通じて、リラックスして着こなしていただけること、また心の拠り所のようなブランドになれるよう名付けました。
            これからも皆さまの期待に応えられるよう精進していきます。今後とも、よろしくお願いいたします。</p>         
            <p class = "text-content3">designer Daiki Yanagihara</p>
            
            <%- include("footer") %>
    </body>
    </html>