<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kōasuky</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/stylesheet.css">
        <link rel="stylesheet" href="../css/responsive.css">
    </head>
    <body>
        <div class="cart-contener">
            <h1>カートに入っているアイテム</h1>
            <ul>
                <li><h3>アイテム名</h3></li>
                <li><h3>価格</h3></li>
                <li><h3>個数</h3></li>
            </ul>
            <div class="cart-main-wrapper">
                <ul class="incart-items">
                    <li>
                        <img src="" width="" height="">
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </li>
                    <li>
                        <img src="" width="" height="">
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </li>
                </ul>
                合計　￥6000
            </div>
            <div class="cart-bottom-wrapper">
                <ul class="parchase-btns">
                    <li><a href="purchased.html">購入する</a></li>
                    <li><a href="index.html">ショッピングに戻る</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>