<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kōasuky</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/stylesheet.css">
        <link rel="stylesheet" href="../css/responsive.css">
    </head>
    <body>
        <%- include("header"); %>

        <div class="contact-main-wrapper">
            <h1>Contact</h1>
            <h2>お問い合わせ内容を入力してください</h2>
            <div class="form-wrapper">
                <ul>
                    <li>
                        <h3>お名前</h3>
                        <input type="text" name="" id="">                        
                    </li>
                    <li>
                        <h3>メールアドレス</h3>
                        <input type="text" name="" id="">                        
                    </li>
                    <li>
                        <h3>件名</h3>
                        <input type="text" name="" id="">                        
                    </li>
                    <li>
                        <h3>お問い合わせ内容</h3>
                        <textarea name="" id=""></textarea>                   
                    </li>
                </ul>
                <button type="submit">送信</button>
            </div>
            
        </div>

        <%- include("footer") %>
    </body>
</html>