<header>
    <div class="header-contents">
        <div class="header-left">
            <div class="logo-btn">
                <a href="/"><img src="image/logo.png" class="logo"></a>
            </div>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="https://www.instagram.com/daiki_yng/"><span class="fa fa-instagram"></span></a></li>
                <% if(locals.username !== undefined) { %>
                <p class = "login-name">ログイン中 : <%= locals.username %></p>
                <% } else { %>
                <p class = "login-name">ゲストとしてログイン中</p>
                <% } %>
            </ul>
        </div>
        <div class="header-right">
            <ul>
                <li><a href="/cart" class="cart-btn"><span class="fa fa-shopping-cart"></span></a></li>
                <li><a href="/login" class="btn login-btn">ログイン</a></li>
                <li><a href="/signup" class="btn signup-btn">新規登録</a></li>
                <li><span class="fa fa-search">検索<input class="search-text" type="text"></span></li>
                <li><a href="/contact" class="btn contact-btn">お問い合わせ</a></li>
            </ul>
        </div>
    </div>
</header>