<header>
    <div class="header-contents">
        <div class="header-left">
            <div class="logo-btn">
                <span class="fa fa-search">検索<input class="search-text" type="text"></span>
            </div>
        </div>
        <div class="header-right">
            <ul>
                <li><a href="/cart" class="cart-btn"><span class="fa fa-shopping-cart"></span></a></li>
                <li><a href="/login" class="btn login-btn">ログイン</a></li>
                <li><a href="/signup" class="btn signup-btn">新規登録</a></li>
            </ul>
        </div>
    </div>
</header>