<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kōasuky</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/stylesheet.css">
        <link rel="stylesheet" href="../css/responsive.css">
    </head>
    <body>
        <%- include("header"); %>   
        <div class="password-wrapper">
            <h2 class="password-title">パスワード再設定</h2>

            <p>会員登録時のメールアドレスを入力してください。</p>
            <p>パスワードを再設定するリンクをお送りいたします。</p>

            <h3>メールアドレスを入力してください</h3>
            <input type="text" name="" class="password-input">
            <button type="submit" class="password-btn">送信する</button>

        </div>

        <%- include("footer") %>
    </body>
</html>