<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kōasuky</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/stylesheet.css">
        <link rel="stylesheet" href="../css/responsive.css">
    </head>
    <body>
        <header>
            <div class="header-contents">
                <div class="header-left">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/about">ABOUT</a></li>
                        <li><a href="https://www.instagram.com/daiki_yng/"><span class="fa fa-instagram"></span></a></li> 
                    </ul>
                </div>
                <div class="header-right">
                    <ul>
                        <li><a href="/login" class="btn login-btn">ログイン</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class = "signup-logo">
            <a href="/"><img src="../../image/logo.png" width = "600"></a>
        </div>
        <div class = "step-check">
            <ul>
                <li></li>
            </ul>
        </div>
        <div class = "new-signup">
            <h1>新規会員登録</h1>
            <p>会員登録をしていただくと、購入履歴が確認できるほか,</p>
            <p>次回のご注文から住所やお支払い方法の入力を省略することができます。</p>
            <form>
                <div class = "signup-label">
                    <label class = "label-margin">メールアドレス</label>
                    <input type = "text" class = "signup-mail" placeholder="Koasky@stores.jp" >
                </div>
            </form>
            <form>
                <div  class = "signup-policy">
                    <label class = "label-margin"><a href="login.html">ストアの利用規約</a>・<a href="login.html">プライバシーポリシー</a>に同意する</label>
                    <input type = "checkbox">
                </div>
            </form>
            <button type = "button" class = signup-button>
            送信する
            </button><br>
            <div class = "signup-login">
                <a href="/login">ログインの方はこちら</a>
            </div>      
        </div>
        <%- include("footer") %>
    </body>
    </html>