<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kōusuky</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/stylesheet.css">
        <link rel="stylesheet" href="../css/responsive.css">
    </head>
    <body>
        <header>
            <div class="header-contents">
                <div class="header-left">
                    <div class="logo-btn">
                        <a href="index.html"><img src="../../image/logo.png" class="logo"></a>
                    </div>
                    <ul>
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="about.html">ABOUT</a></li>
                        <li><a href="https://www.instagram.com/daiki_yng/"><span class="fa fa-instagram"></span></a></li> 
                    </ul>
                </div>
                <div class="header-right">
                    <ul>
                        <li><a href="cart.html" class="cart-btn"><span class="fa fa-shopping-cart"></span></a></li>
                        <li><a href="login.html" class="btn login-btn">ログイン</a></li>
                        <li><a href="signup.html" class="btn signup-btn">新規登録</a></li>
                        <li><span class="fa fa-search">検索<input class="search-text" type="text"></span></li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="contact-main-wrapper">
            <h1>Contact</h1>
            <h2>お問い合わせ内容を入力してください</h2>
            <div class="form-wrapper">
                <ul>
                    <li>
                        <h3>お名前</h3>
                        <input type="text" name="" id="">                        
                    </li>
                    <li>
                        <h3>メールアドレス</h3>
                        <input type="text" name="" id="">                        
                    </li>
                    <li>
                        <h3>件名</h3>
                        <input type="text" name="" id="">                        
                    </li>
                    <li>
                        <h3>お問い合わせ内容</h3>
                        <textarea name="" id=""></textarea>                   
                    </li>
                </ul>
                <button type="submit">送信</button>
            </div>
            
        </div>

        <footer>
            <ul>
                <li><a href="https://www.instagram.com/daiki_yng/"><span class="fa fa-instagram"></span></a></li>
                <li><a href="#" class="btn tweet-btn"><span class="fa fa-twitter"></span>ツイート</a> </li> <!-- twitterにツイートする -->
            </ul>
            <h2 class="footer-text">🄫 2021 kousuky.</h2>
        </footer>
    </body>
</html>