<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kōusuky</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/stylesheet.css">
        <link rel="stylesheet" href="../css/responsive.css">
    </head>
    <body>
        <header>
            <div class="header-contents">
                <div class="header-left">
                    <div class="logo-btn">
                        <a href="/"><img src="../../image/logo.png" class="logo"></a>
                    </div>
                    <ul>
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="about.html">ABOUT</a></li>
                        <li><a href="https://www.instagram.com/daiki_yng/"><span class="fa fa-instagram"></span></a></li> 
                    </ul>
                </div>
                <div class="header-right">
                    <ul>
                        <li><a href="cart.html" class="cart-btn"><span class="fa fa-shopping-cart"></span></a></li>
                        <li><a href="login.html" class="btn login-btn">ログイン</a></li>
                        <li><a href="signup.html" class="btn signup-btn">新規登録</a></li>
                        <li><span class="fa fa-search">検索<input class="search-text" type="text"></span></li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="wrapper">
            <div class="ranking-item">
                <h1>RANKING</h1>
                <ul class="ranking-list">
                    <li>
                    <a href="content.html"><img src="../../image/T-sirt①.png" width="200px"></a> 
                    <p>Tシャツ</p>
                    <p>￥3000</p>
                    </li>
                    <li>
                        <a href="content.html"><img src="../../image/cap①.png" width="200px"></a> 
                        <p>キャップ</p>
                        <p>￥2500</p>
                    </li>
                    <li>
                        <a href="content.html"><img src="../../image/Sweat①.png" width="200px"></a> 
                        <p>スウェット</p>
                        <p>￥5000</p>
                    </li>
                    
                </ul>
    
            </div>
    
            <div class="main-item">
                <h1>ITEM</h1>
                <ul class="item-list">
                    <li class="item1">
                        <a href="content.html"><img src="../../image/T-sirt①.png" width="300px" height="300px"></a>
                        <p>Tシャツ</p>
                        <p>￥3000</p>
                    </li>
                    <li class="item2">
                        <a href="content.html"><img src="../../image/T-sirt②.png" width="300px" height="300px"></a>
                        <p>Tシャツ</p>
                        <p>￥3000</p>
                    </li>
                    <li class="item3">
                        <a href="content.html"><img src="../../image/LongT-sirt①.png" width="300px" height="300px"></a>
                        <p>ロングTシャツ</p>
                        <p>￥4500</p>
                    </li>
                    <li class="item4">
                        <a href="content.html"><img src="../../image/LongT-sirt②.png" width="300px" height="300px"></a>
                        <p>ロングTシャツ</p>
                        <p>￥4500</p>
                    </li>
                    <li class="item5">
                        <a href="content.html"><img src="../../image/LongT-sirt③.png" width="300px" height="300px"></a>
                        <p>ロングTシャツ</p>
                        <p>￥4500</p>
                    </li>
                    <li class="item6">
                        <a href="content.html"><img src="../../image/cap①.png" width="300px" height="300px"></a>
                        <p>キャップ</p>
                        <p>￥2500</p>
                    </li>
                    <li class="item7">
                        <a href="content.html"><img src="../../image/cap②.png" width="300px" height="300px"></a>
                        <p>キャップ</p>
                        <p>￥2500</p>
                    </li>
                    <li class="item8">
                        <a href="content.html"><img src="../../image/Sweat①.png" width="300px" height="300px"></a>
                        <p>スウェット</p>
                        <p>￥5000</p>
                    </li>
                    <li class="item9">
                        <a href="content.html"><img src="../../image/Sweat②.png" width="300px" height="300px"></a>
                        <p>スウェット</p>
                        <p>￥5000</p>
                    </li>
                </ul>
            </div>
        </div>

        <footer>
            <ul>
                <li><a href="https://www.instagram.com/daiki_yng/"><span class="fa fa-instagram"></span></a></li>
                <li><a href="#" class="btn tweet-btn"><span class="fa fa-twitter"></span>ツイート</a> </li> <!-- twitterにツイートする -->
            </ul>
            <h2 class="footer-text">🄫 2021 kousuky.</h2>
        </footer>

    </body>
</html>