<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kōusuky</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/stylesheet.css">
        <link rel="stylesheet" href="../css/responsive.css">
    </head>
    <body>
        <header>
            <div class="header-contents">
                <div class="header-left">
                    <div class="logo-btn">
                        <a href="index.html"><img src="../../image/logo.png" class="logo"></a>
                    </div>
                    <ul>
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="about.html">ABOUT</a></li>
                        <li><a href="https://www.instagram.com/daiki_yng/"><span class="fa fa-instagram"></span></a></li> 
                    </ul>
                </div>
            </div>
        </header>

        <div class="password-wrapper">
            <h2 class="password-title">パスワード再設定</h2>

            <p>会員登録時のメールアドレスを入力してください。</p>
            <p>パスワードを再設定するリンクをお送りいたします。</p>

            <h3>メールアドレスを入力してください</h3>
            <input type="text" name="" class="password-input">
            <button type="submit" class="password-btn">送信する</button>

        </div>

        <footer>
            <ul>
                <li><a href="https://www.instagram.com/daiki_yng/"><span class="fa fa-instagram"></span></a></li>
                <li><a href="#" class="btn tweet-btn"><span class="fa fa-twitter"></span>ツイート</a> </li> <!-- twitterにツイートする -->
            </ul>
            <h2 class="footer-text">🄫 2021 kousuky.</h2>
        </footer>
    </body>
</html>